@font-face {
  font-family: 'UhBeemysen';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeemysen.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'UhBeemysen';
}

ul,
ol {
  list-style: none;
}

a {
  text-align: center;
}

/* common */
html {
  font-size: 22px;
}
body {
  margin-top: 100px;
}
h2 {
  text-align: center;
}
/* dday header */
header {
  position: fixed;
  border: 1px solid salmon;
  top: 0;
}

/* section common */
section {
  text-align: center;
  /* border: 1px solid hotpink; */
  padding: 0 8px;
}

section form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section form input,
section form textarea {
  width: 500px;
  padding: 0.2rem;
  font-size: 20px;
}

footer {
  margin-top: 50px;
  background-color: #eee;
  color: #aaa;
  padding: 1.5rem;
}
/* 댓글 목록 */
.comments-list {
}
.comments-list ul {
  border-radius: 20px;
  box-shadow: 0px 0px 8px rgba(249, 157, 232, 0.3);
  margin: 1rem 0;
}
.comments-list ul span {
  font-weight: 700;
}

@media screen and (max-width: 570px) {
  section form input,
  section form textarea {
    /* width: 500px;
   */

    width: 200px;
    max-width: 500px;
    background-color: red;
  }
}
